$baseFont: 'avenir', arial;

@font-face {
  font-family: 'avenir';
  src: url('/fonts/avenir/AvenirNextLTPro-Regular.woff2') format('woff2'),
  url('/fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff'),
  url('/fonts/avenir/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
