$baseFont: 'topaz';

@font-face {
  font-family: 'topaz';
  src: url('/fonts/topaz-8/topaz-8.woff2') format('woff2'),
  url('/fonts/topaz-8/topaz-8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
